body {
    background-color: #5a5851;
    margin: 0px;
}

.navbar { 
    background-color: rgb(0, 0, 0);
    width: 100%;
} 

li.navbutton {
    font-family: 'Dosis', sans-serif;
}

li.home {
    margin: none;
    padding: none;
}

.background1 {
    background: url(images/background1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: none;
    text-align: center;
    height: 100vh;
    width: 100%; 
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    max-width: 1280px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #b17d55;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s;
    border-radius: 6px;
}

li a:hover {
    background-color: #272523;
    color: white;
    text-shadow: 1px 1px 1px #111, 2px 2px 2px #111;
}

li a:active {
    color: #33302a;
    cursor: pointer;
}

button.whitepaper:hover { 
    background-color: #a56d43;
}

button.whitepaper:active {
    color: #33302a;
    cursor: pointer;
    box-shadow: none;
    background-color: #7e5433;
    margin-top: 10px;
}

button.whitepaper {
    float: right;
    border: none;
    text-align: right;
    color: #f0e8dd;
    font-size: 1rem;
    font-family: 'Dosis', 'sans-serif';
    background-color: #b17d55;
    box-shadow: 0 3px 0 #744f32;
    height: 35px;
    line-height: 20px;
    padding: 0 20px;
    font-weight: 900;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 5px;
    border-radius: 30px;
    transition: all 0.2s;
}

div.subtitle { 
    background: none;
    margin: 0; 
    text-align: center;
    width: 100%;
    list-style: none;
}

h2.subtitle {
    text-align: center;
    word-spacing: 4vh;
    font-size: 5vh;
    text-shadow: 1px 1px 1px #000, 2px 2px 2px #000, 3px 3px 3px #000, 4px 4px 4px #000, 5px 5px 5px #000;
}

.background2 {
    background: url(images/background2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    background-color: none;
    height: 100vh;
    width: 100%;
}

.box1 {
    background-color:#312720;
    opacity: 0.9;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-radius: 50px;
}

p.topic1 {
    text-align: center;
    color: #e9dbce;
    font-size: 2.5rem;
    font-family: 'Slackey', 'cursive';
    text-shadow: 1px 1px 1px #000, 2px 2px 2px #000, 3px 3px 3px #000, 4px 4px 4px #000;
    padding-top: 1rem;
    margin: 0;
}

p.text {
    color: #e9dbce;
    font-size: 2rem;
    font-family: 'Dosis', 'sans-serif';
    text-shadow: 1px 1px 1px #000;
}