body {
    background-color: #5a5851;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #bea693; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(56, 52, 47); 
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 84, 72); 
  }

html{
    scroll-behavior: smooth;
}

.navbar { 
    background-color: #111;
    width: 100%;
    position: fixed;
    z-index: 9999;
} 

li.navbutton {
    font-family: 'Dosis', sans-serif;
}

.background1 {
    background: url(images/background1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: none;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.home {
    margin: 0;
    padding: 3px 10px 3px 0;
    float: left;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    max-width: 1280px;
}

li {
    float: left;
    margin-top: 3px;
}

li a {
    display: block;
    color: #b17d55;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s;
    border-radius: 6px;
}

li a:hover {
    background-color: #272523;
    color: white;
    text-shadow: 1px 1px 1px #111, 2px 2px 2px #111;
}

li a:active {
    color: #33302a;
    cursor: pointer;
}

button.whitepaper:hover { 
    background-color: #a56d43;
}

button.whitepaper:active {
    color: #33302a;
    cursor: pointer;
    box-shadow: none;
    background-color: #7e5433;
    margin-top: 10px;
}

button.whitepaper {
    float: right;
    border: none;
    text-align: right;
    color: #f0e8dd;
    font-size: 1rem;
    font-family: 'Dosis', 'sans-serif';
    background-color: #b17d55;
    box-shadow: 0 3px 0 #744f32;
    height: 38px;
    line-height: 20px;
    padding: 0 20px;
    font-weight: 900;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 5px;
    border-radius: 30px;
    transition: all 0.2s;
}

div.subtitle { 
    background: none;
    margin: 0; 
    text-align: center;
    width: 100%;
    list-style: none;
}

h2.subtitle {
    text-align: center;
    word-spacing: 4vh;
    font-size: 5vh;
    text-shadow: 1px 1px 1px #000, 2px 2px 2px #000, 3px 3px 3px #000, 4px 4px 4px #000, 5px 5px 5px #000;
}

.background2 {
    background: url(images/background2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    background-color: none;
    height: 100vh;
    width: 100%;
}

.box1 {
    background-color:#312720;
    opacity: 0.9;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-radius: 50px;
    height: 95%;
    box-shadow: 6px 6px 2px #1f1915;
}

@font-face {
    font-family: Antilles;
    src: url(antilles.ttf);
  }

p.topic1 {
    text-align: center;
    color: #e9dbce;
    font-size: 6rem;
    font-family: Antilles, 'cursive';
    text-shadow: 1px 1px 1px #000, 2px 2px 2px #000, 3px 3px 3px #000, 4px 4px 4px #000;
    padding: 2rem 0 1rem 0;
    letter-spacing: 3px;
    margin: 0;
}

p.text {
    color: #e9dbce;
    font-size: 2rem;
    padding-bottom: 2rem;
    font-family: 'Dosis', 'sans-serif';
    text-shadow: 1px 1px 1px #000;
}

.playtoearn {
    display: block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

* {
    box-sizing: border-box;
  }
  
.column {
    background-color: #000;
    float: left;
    width: 28%;
    margin: 60px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #5f5045;
    position: relative;
    text-align: center;
    color: #e9dbce;
    font-size: 4rem;
    text-shadow: 3px 3px 3px #352b24;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.centered {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Antilles, 'cursive';
    background-color: rgb(68, 62, 57);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    opacity: 0.8;
}