body {
    background-color: #5a5851;
    margin: 0px;
}

.navbar {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

li.navbutton {
    font-family: 'Dosis', sans-serif;
}

li.home {
    margin: none;
    padding: none;

}

.background1 {
    background: url(images/background1.png) no-repeat center ;
    background-size: cover;
    image-rendering: pixelated;
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: none;
    text-align: center;
    height: 100vh;
    width: 215,5vh;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    max-width: 1280px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ffc400;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s;
    border-radius: 6px;
}

li a:hover {
    background-color: #272523;
    color: white;
}

li a:active {
    color: #574200;
    border-color: #b17d55;
    cursor: pointer;
}

button.whitepaper:hover { 
    background-color: #a56d43;
}

button.whitepaper:active {
    color: #33302a;
    cursor: pointer;
    box-shadow: none;
    background-color: #7e5433;
    margin-top: 10px;
}

button.whitepaper {
    float: right;
    border: none;
    text-align: right;
    color: rgb(240, 232, 221);
    font-size: 1rem;
    font-family: 'Dosis', 'sans-serif';
    background-color: #b17d55;
    box-shadow: 0 3px 0 #744f32;
    height: 35px;
    line-height: 20px;
    padding: 0 20px;
    font-weight: 900;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 5px;
    border-radius: 30px;
    transition: all 0.2s;
}

ul.h2-1 {
    margin-left: 4rem;
    text-align: center;
    display: block;
    color: #fff;
    padding: 0px 25px 0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.topic1 {
    color: #fff;
    padding: 8rem 0;
    font-size: 30px;
    font-family: 'Dosis', 'sans-serif';
}

ul.text1 {
    background: none;
    padding-left: 280px;
    text-align: center;
    width: 100%;
}

li.text1 {
    text-align: center;
    word-spacing: 30px;
    padding-left: 100px;
    font-size: 40px;
    text-shadow: 2px 2px 2px #111, 3px 3px 5px #111, 2px 2px 7px #111, 2px 2px 7px #111, 2px 2px 10px #111
}