body {
    background-color: #5a5851;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #bea693; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(56, 52, 47); 
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 84, 72); 
  }

html{
    scroll-behavior: smooth;
}

.navbar { 
    background-color: #111;
    width: 100%;
    position: fixed;
    z-index: 9999;
    box-shadow: 0 0 1em black, 0 0 2em black, 0 0 1.5em black;
} 

.navbutton {
    font-family: 'Dosis', sans-serif;
}

.background1 {
    background: url(bg_images/background1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    font-family: 'Dosis', sans-serif;
    color: white;
    background-color: none;
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.home {
    margin: 0;
    padding: 3px 10px 3px 0;
    float: left;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    max-width: 1280px;
}

li {
    float: left;
    margin-top: 3px;
}

li a {
    display: block;
    color: #b17d55;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s;
    border-radius: 6px;
}

li a:hover {
    background-color: #272523;
    color: white;
    text-shadow: 1px 1px 1px #111, 2px 2px 2px #111;
}

li a:active {
    color: #33302a;
    cursor: pointer;
}

button.whitepaper:hover { 
    background-color: #a56d43;
}

button.whitepaper:active {
    color: #33302a;
    cursor: pointer;
    box-shadow: none;
    background-color: #7e5433;
    margin-top: 10px;
}

button.whitepaper {
    float: right;
    border: none;
    text-align: right;
    color: #f0e8dd;
    font-size: 1rem;
    font-family: 'Dosis', 'sans-serif';
    background-color: #b17d55;
    box-shadow: 0 3px 0 #744f32;
    height: 38px;
    line-height: 20px;
    padding: 0 20px;
    font-weight: 900;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 5px;
    border-radius: 30px;
    transition: all 0.2s;
}

div.subtitle { 
    background: none;
    margin: 0; 
    text-align: center;
    width: 100%;
    list-style: none;
}

.subtitle {
    text-align: center;
    word-spacing: 4vh;
    font-size: 5vh;
    z-index: 100;
    position: relative;
    text-shadow: 1px 1px 1px #000, 2px 2px 2px #000, 3px 3px 3px #000, 4px 4px 4px #000, 5px 5px 5px #000;
}

.background2 {
    background: url(bg_images/background2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    background-color: none;
    height: 100vh;
    width: 100%;
    position: relative;
}

.box1 {
    background-color:#312720;
    opacity: 0.92;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 50px;
    height: 95%;
    box-shadow: 6px 6px 2px #1f1915;
}

@font-face {
    font-family: Antilles;
    src: url(antilles.ttf);
  }

#homelogo {
    position: absolute;
    top: -60px;
}
#game {
    position: absolute;
    top: -60px;
}
#marketplace {
    position: absolute;
    top: -60px;
}
#roadmap {
    position: absolute;
    top: -60px;
}
#tokenomics {
    position: absolute;
    top: -60px;
}
#team {
    position: absolute;
    top: -60px;
}
#partners {
    position: absolute;
    top: -60px;
}

.topic1 {
    background-color: #312720;
    text-align: center;
    color: #e9dbce;
    font-size: 6rem;
    font-family: Antilles, 'cursive';
    text-shadow: 1px 1px 1px #000, 2px 2px 2px #000, 3px 3px 3px #000, 4px 4px 4px #000;
    padding: 1rem 2rem 1rem 0;
    letter-spacing: 3px;
    margin: 0 0 2rem 0;
    border-radius: 20px;
    box-shadow: 5px 5px 2px #0a0a0a, inset 0 0.6em 0  #3b3027, 0 0 0.6em black;
}

.text {
    color: #e9dbce;
    font-size: 2rem;
    padding-bottom: 2rem;
    font-family: 'Dosis', 'sans-serif';
    text-shadow: 1px 1px 1px #000;
}

.playtoearn {
    display: block;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

* {
    box-sizing: border-box;
  }
  
.column {
    background-color: #1d1a16;
    float: left;
    width: 28%;
    margin: 60px;
    border-radius: 20px;
    box-shadow: 0 0 1em #141413, inset 0 0 1em #744f32, 5px 5px 5px #a56d43;
    position: relative;
    text-align: center;
    color: #e9dbce;
    font-size: 4rem;
    text-shadow: 3px 3px 3px #352b24;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Antilles, 'cursive';
    background-color: #312720;
    text-shadow: 6px 6px 1px #0a0a0a;
    box-shadow: 5px 5px 2px #0a0a0a, inset 0 0.5em 0  #3b3027;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    opacity: 0.8;
}

.imglogo {
    z-index: 100;
    position: relative;
}

canvas {
    filter: blur(1px);
    width: 100%;
    height: 80%;
    padding-top: 3rem;
    left: 0;
    top: 0;
    position: absolute;
  }

  /* TEAM */

.boxTeam {
    background-color:#312720;
    position: relative;
    opacity: 0.92;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 50px;
    height: 95%;
    box-shadow: 6px 6px 2px #1f1915;
}

.limitCardTeam {
   padding: 4rem;
   margin: 4rem;
   position: absolute;
   width: auto;
   height: auto;
}

.card {
    box-shadow: 6px 6px 10px 0 black;
    transition: 0.5s;
    width: 20%;
    border-radius: 10px;
    border: solid 5px #3b3027;
    margin: auto;
    float: left;
    background-color: #5a483a;
    position: relative;
}

.card:hover {
    box-shadow: 12px 12px 20px 0 black;
    transform: scale(1.2);
}

img {
    border-radius: 5px 5px 0 0;
  }
  
.hrTeam {
    height: 2px; 
    color: black;
    background-color: black; 
    padding: 0;
    border: none;
    margin: 0rem 0 0.3rem 0;
}

.teamImg {
    opacity: 1;
}
.nameTeam {
    font-family: Antilles, 'cursive';
    background-color: #312720;
    color: #e9dbce;
    font-size: 1.8rem;
    border-radius: 10px;
    text-align: center;
    text-shadow: 3px 3px black;
    margin: 0 1rem;
    box-shadow: 2px 2px 2px black;
}

.occupation {
    font-family: Antilles, 'cursive';
    font-size: 1.5rem;
    text-align: center;
    margin: 2px 5rem 0.5rem 5rem;
    background-color: #c9966f;
    border-radius: 0 0 10px 10px;
    color: black;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px -1px #312720, -1px 1px #e2b593;
}

.experienceTeam {
    font-family: 'Dosis', 'sans-serif';
    color: #e9dbce;
    margin: 2px;
    padding-bottom: 0.3rem;
    text-align: center;
}

.fantasyTitle {
    font-family: Antilles, 'cursive';
    font-size: 1rem;
    background-color: #c9966f;
    color: #312720;
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
    text-align: center;
    box-shadow: 2px 2px 2px #352b24;
    margin: 0 3.3rem 0.3rem 3.3rem;
}